h1{text-align: center; font-size:30px}
h2{text-align: center; font-size:20px}

table {
    margin: auto;
    border: 3px ridge black;
    border-spacing: 0px;
}

input { 
    bottom:0;
    left: 0;
    font-size: 60px;
    height: 80px;  
    width: 80px;
}

div {
    text-align: center;
    margin-bottom: 20px; 
}

#start {
    font-size: 50px;
    height: 70px;  
    width: 150px;
    border: 3px ridge black;
    border-spacing: 0px;
}

